<h1 mat-dialog-title>Editar CV</h1>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="about"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Experiencia</mat-label>
    <input matInput [(ngModel)]="experience" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Educación</mat-label>
    <input matInput [(ngModel)]="education" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Habilidades</mat-label>
    <input matInput [(ngModel)]="skills" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Proyectos</mat-label>
    <input matInput [(ngModel)]="projects" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="save()">Guardar</button>
</mat-dialog-actions>
